PORT=5001
NODE_ENV=development

# Database Configuration
DB_USER=your_user
DB_PASSWORD=your_password
DB_HOST=localhost
DB_PORT=5432
DB_NAME=your_db_name
JWT_SECRET=your_jwt_secret
SMTP_HOST=your_host
SMTP_PORT=your_port
SMTP_USER=your_user
SMTP_PASS=your_pass
EMAIL_FROM=noreply@fisher.com
EXCHANGE_RATE_API_KEY=your_api_key
BASE_CURRENCY=INR
